@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(223, 208, 208);
  max-width: 100%;
  overflow-x: hidden;
}

body {
  animation: onLoad 0.75s;
}

@keyframes onLoad {
  from {
    opacity: 0;
    transform: rotateX("-10deg");
  }

  to {
    opacity: 1;
    transform: rotateX("0");
  }
}

.logo {
  width: 100%;
  margin-top: 15px;
  height: 135px;
}

#logo1 {
  position: absolute;
  height: 135px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-left: 0;
}

#backarrow {
  margin-left: 10%;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.arrow-back {
  margin-top: 25px;
  width: 100%;
  height: 20px;
}

.arrow-back img {
  margin-left: 150px;
  height: 35px;
}

.zdt {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 10% 100px 10%;
}

.pt0,
.pt1,
.pt2,
.pt3 {
  margin-left: 2%;
}
