@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

h2 {
  font-size: 1rem;
  color: #000000;
}
/**HEADER**/

header {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background: linear-gradient(to bottom, transparent, #000000a6),
    url(1DC2169B-1509-4778-B4D1-4D6E1C2CC1C8.jpeg);
  background-attachment: fixed;
}

.part1 a {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  left: 50vw;
  top: 80vh;
  transform: translateX(-50%);
  align-content: center;
  height: auto;
  width: 130px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.part1 a:hover {
  background-color: #000000;
  color: #fff;
}

.entrybg img {
  position: absolute;
  height: 500px;
  left: 50vw;
  top: 35vh;
  transform: translate(-50%, -50%);
}

.pres-container {
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
  height: 450px;
  margin-bottom: 100px;
}

.presentation1 {
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
  align-items: center;
}

.textepres {
  display: flex;
}

.textepres p {
  font-size: 1.2rem;
}

.image-maison {
  display: flex;
}

.image-maison img {
  height: 450px;
  border-radius: 15px;
}

.grid1 {
  background-color: #ffffff;
  height: 200px;
  color: rgb(0, 0, 0);
  width: 100vw;
}

.grid1 .rooms {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.grid1 .rooms h1 {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
}

.separateur {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: solid 0.5px rgba(0, 0, 0, 0.322);
}

.grid2 {
  display: grid;
  height: 400px;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 60%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 100px;
  transition: ease-in-out 0.3s;
}

.grid2:hover {
  background-color: #f1f1f17e;
  border-radius: 15px;
}

.pic1 {
  overflow: hidden;
  display: inline-block;
  border-radius: 15px;
}

.pic1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.pic1 img:hover {
  transform: scale(1.05);
}

.text1 {
  display: grid;
  grid-template-rows: 15% 70% 10% 5%;
  grid-template-areas:
    "title"
    "description"
    "prix"
    "icons";
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}

.text1 h1 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  grid-area: title;
  grid-template-columns: 24% 5% 71%;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#icons00 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

#icons001 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

.text1 h2 {
  display: grid;
  font-size: 1rem;
  grid-area: description;
  font-weight: 400;
}

.prix1 {
  display: grid;
  grid-area: prix;
}

.text1 p {
  display: grid;
  grid-area: prix;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: end;
  padding-right: 108px;
  color: #000000;
}

.text1 h3 {
  display: grid;
  grid-area: prix;
  text-align: end;
  padding-right: 0px;
  font-size: 0.6rem;
}

.icons {
  padding-left: 12.5px;
  grid-area: icons;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "ico";
  margin-top: auto;
  margin-bottom: auto;
}

#icon3 {
  grid-area: ico;
  height: 20px;
  padding-left: 20px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon4 {
  grid-area: ico;
  height: 20px;
  padding-left: 70px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon5 {
  grid-area: ico;
  height: 20px;
  padding-left: 120px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon6 {
  grid-area: ico;
  height: 20px;
  padding-left: 170px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon7 {
  grid-area: ico;
  height: 20px;
  padding-left: 220px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon8 {
  grid-area: ico;
  height: 20px;
  padding-left: 270px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon9 {
  grid-area: ico;
  height: 20px;
  padding-left: 320px;
  padding-right: 15px;
}

.separatest1 {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: solid 0.5px rgba(0, 0, 0, 0.322);
}

.grid3 {
  display: grid;
  height: 400px;
  grid-template-rows: 1fr;
  grid-template-columns: 60% 40%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 200px;
  transition: ease-in-out 0.3s;
}

.grid3:hover {
  background-color: #f1f1f17e;
  border-radius: 15px;
}

.pic2 {
  display: grid;
  overflow: hidden;
  display: inline-block;
  border-radius: 15px;
}

.pic2 img {
  display: grid;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.pic2 img:hover {
  transform: scale(1.05);
}

.text2 {
  display: grid;
  grid-template-rows: 15% 60% 10% 5% 10%;
  grid-template-areas:
    "title"
    "description"
    "prix"
    "etoile"
    "icons";
  padding: 15px 30px;
  cursor: pointer;
}

.text2 h1 {
  display: grid;
  grid-area: title;
  grid-template-columns: 30% 5% 5% 70%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

#icons0 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

#icons01 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

#icons02 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

.text2 h2 {
  grid-area: description;
  display: grid;
  font-size: 1rem;
  font-weight: 400;
}

.prix2 {
  display: grid;
  grid-area: prix;
  grid-template-columns: 1% 99%;
}

.text2 p {
  display: grid;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: start;
  color: #000000;
  padding-top: 10px;
}

.text2 h3 {
  display: grid;
  text-align: left;
  font-size: 0.6rem;
  padding-left: 50px;
  padding-top: 10px;
}

.etoile1 {
  display: grid;
  grid-area: etoile;
}

.etoile1 h6 {
  font-size: 0.7rem;
}

.icons2 {
  padding-right: 27.5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "ico";
  margin-top: auto;
  margin-bottom: auto;
}
#icoon1 {
  grid-area: ico;
  height: 20px;
  justify-self: end;
  padding-left: 15px;
  border-left: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icoon2 {
  grid-area: ico;
  justify-self: end;
  height: 20px;
  padding-right: 50px;
  padding-left: 15px;
  border-left: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icoon3 {
  grid-area: ico;
  justify-self: end;
  height: 20px;
  padding-right: 100px;
  padding-left: 15px;
  border-left: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icoon4 {
  grid-area: ico;
  justify-self: end;
  height: 20px;
  padding-right: 150px;
  padding-left: 15px;
  border-left: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icoon5 {
  grid-area: ico;
  justify-self: end;
  height: 20px;
  padding-right: 200px;
  padding-left: 15px;
  border-left: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icoon6 {
  grid-area: ico;
  justify-self: end;
  height: 20px;
  padding-right: 250px;
  padding-left: 15px;
  border-left: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icoon7 {
  grid-area: ico;
  justify-self: end;
  height: 20px;
  padding-right: 300px;
  padding-left: 15px;
}

.separatest2 {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: solid 0.5px rgba(0, 0, 0, 0.322);
}

.grid4 {
  display: grid;
  height: 400px;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 60%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 200px;
  transition: ease-in-out 0.3s;
}
.grid4:hover {
  background-color: #f1f1f17e;
  border-radius: 15px;
}

.pic3 {
  overflow: hidden;
  display: inline-block;
  border-radius: 15px;
}

.pic3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.pic3 img:hover {
  transform: scale(1.05);
}

.text3 {
  display: grid;
  grid-template-rows: 15% 60% 10% 5% 10%;
  grid-template-areas:
    "title"
    "description"
    "prix"
    "etoile"
    "icons";
  padding: 15px 30px;
  cursor: pointer;
}

.text3 h1 {
  display: grid;
  grid-template-columns: 38% 5% 5% 52%;
  grid-area: title;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.etoile {
  grid-area: etoile;
}

.etoile h6 {
  font-size: 0.7rem;
  text-align: end;
  margin-right: 0px;
  font-weight: bold;
}

#icons000 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

#icons0001 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

#icons0002 {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  left: 400px;
  height: 25px;
}

.text3 h2 {
  display: grid;
  grid-area: description;
  font-size: 1rem;
  font-weight: 400;
}

.prix3 {
  display: grid;
  grid-area: prix;
}

.text3 p {
  display: grid;
  grid-area: prix;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: end;
  padding-right: 108px;
  color: #000000;
  padding-top: 10px;
}

.text3 h3 {
  grid-area: prix;
  font-size: 0.6rem;
  text-align: end;
  padding-right: 0px;
  padding-top: 10px;
}

.icons3 {
  padding-left: 12.5px;
  display: grid;
  grid-area: icons;
  grid-template-columns: 1fr;
  grid-template-areas: "ico";
  margin-top: auto;
  margin-bottom: auto;
}

#icon003 {
  grid-area: ico;
  height: 20px;
  padding-left: 20px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon004 {
  grid-area: ico;
  height: 20px;
  padding-left: 70px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon005 {
  grid-area: ico;
  height: 20px;
  padding-left: 120px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon006 {
  grid-area: ico;
  height: 20px;
  padding-left: 170px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon007 {
  grid-area: ico;
  height: 20px;
  padding-left: 220px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon008 {
  grid-area: ico;
  height: 20px;
  padding-left: 270px;
  padding-right: 15px;
  border-right: solid 0.5px rgba(0, 0, 0, 0.308);
}

#icon009 {
  grid-area: ico;
  height: 20px;
  padding-left: 320px;
  padding-right: 15px;
}

.separateur2 {
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: solid 0.5px rgba(0, 0, 0, 0.322);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 400;
  margin: 250px 80px 35px 80px;
}
.ml, .contacts, .photos, .log{
  display: flex;
}

footer h3 {
  font-size: 0.9rem;

  font-weight: 400;
}

.titre {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 1.6rem;
  font-weight: bold;
}

.container-faq {
  width: 70%;
  max-width: 900px;
  min-width: 700px;
  height: auto;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.questions {
  width: 100%;
  height: auto;
  margin: 5px;
}

.visible-pannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  border-radius: 10px;
  position: relative;
  z-index: 100;
}

.visible-pannel h2 {
  margin-left: 10px;
  padding: 15px 5px;
  font-size: 20px;
  font-weight: 400;
}

.visible-pannel img {
  margin-right: 15px;
  width: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.visible-pannel img:hover {
  transform: scale(1.2);
}

.toggle-pannel {
  padding: 0px 15px;
  height: 0px;
  opacity: 0;
}

.toggle-pannel p {
  line-height: 1.5;
}

.separateur3 {
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: solid 0.5px rgba(0, 0, 0, 0.322);
}

.photo-gallery {
  position: relative;
  margin-top: 50px;
  height: 600px;
  padding: 10px;
  width: 65%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.title10 p {
  text-align: center;
  padding-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 125px;
}
.mySlides {
  margin-top: 150px;
  display: none;
}
.mySlides img {
  vertical-align: middle;
  height: 650px;
  object-fit: cover;
  border-radius: 15px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.after-icons,
.after-icons2,
.after-icons3 {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.mobile-error-message {
  display: none;
}

@media screen and (min-width: 1670px) {
  .grid2 {
    display: grid;
    height: 500px;
  }
  .grid3 {
    display: grid;
    height: 500px;
  }
  .grid4 {
    display: grid;
    height: 500px;
  }
}

@media screen and (min-width: 1550px) {
  .text1 h1 {
    grid-template-columns: 20% 4% 71%;
  }
  .text2 h1 {
    grid-template-columns: 25% 4% 4% 70%;
  }
  .text3 h1 {
    grid-template-columns: 30% 4% 4% 52%;
  }
}

@media screen and (max-width: 1450px) {
  .image-maison img {
    height: 350px;
  }
  .textepres p {
    font-size: 1rem;
  }
  h2 {
    font-weight: normal;
    font-size: 0.9rem;
  }
  .etoile1 h6 {
    font-weight: normal;
  }
  .etoile h6 {
    font-weight: normal;
  }
  footer {
    font-size: 0.8rem;
    margin-top: 100px;
  }
  .photo-gallery {
    margin-bottom: 10px;
  }
  .pres-container {
    margin-bottom: 0px;
  }
  .mySlides img {
    height: 550px;
  }
  .slideshow-container {
    max-width: 800px;
  }
}

@media screen and (max-width: 1300px) {
  .grid2,
  .grid3,
  .grid4 {
    height: 350px;
  }
  .grid2 {
    margin-top: 50px;
  }

  .text1 h2,
  .text2 h2,
  .text3 h2 {
    font-size: 0.9rem;
  }
  .grid1 .rooms h1 {
    font-size: 1.8rem;
  }

  .title1 h1 {
    font-size: 1.8rem;
  }
  .text2 h1 {
    font-size: 1.8rem;
  }
  .text3 h1 {
    font-size: 1.8rem;
  }
  .prix1 p {
    font-size: 1.2rem;
  }
  .prix1 h3,
  .prix2 h3,
  .prix3 h3 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 1210px) {
  .image-maison img {
    height: 350px;
  }
  .textepres p {
    font-size: 1rem;
  }
  .title1 h1 {
    grid-template-columns: 28% 5% 71%;
  }
  .text2 h1 {
    grid-template-columns: 35% 5% 5% 70%;
  }
  .text3 h1 {
    grid-template-columns: 45% 5% 5% 52%;
  }
  .principalpic img {
    width: 100%;
    height: 500px;
  }

  .mySlides img {
    height: 450px;
  }
  .slideshow-container {
    max-width: 650px;
  }
}

@media screen and (max-width: 1130px) {
  .image-maison img {
    height: 300px;
  }
  .textepres p {
    font-size: 0.9rem;
  }
  .grid2,
  .grid3,
  .grid4 {
    height: 300px;
  }
  .text1 h2,
  .text2 h2,
  .text3 h2 {
    font-size: 0.8rem;
  }
  .title1 h1 {
    font-size: 1.6rem;
  }
  .text2 h1 {
    font-size: 1.6rem;
  }
  .text3 h1 {
    font-size: 1.6rem;
  }
  .prix1 h3,
  .prix2 h3,
  .prix3 h3 {
    font-size: 0.5rem;
  }
  .etoile1 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1070px) {
  .part1 a {
    font-size: 1.2rem;
  }

  .pres-container {
    margin-top: 150px;
  }

  .image-maison img {
    height: 250px;
  }
  .textepres p {
    font-size: 0.8rem;
  }

  .grid1 .rooms h1 {
    font-size: 1.6rem;
  }
  .grid2,
  .grid3,
  .grid4 {
    height: 250px;
  }
  .text1 h2,
  .text2 h2,
  .text3 h2 {
    font-size: 0.7rem;
  }
  .title1 h1 {
    font-size: 1.5rem;
  }
  .text2 h1 {
    font-size: 1.5rem;
  }
  .text3 h1 {
    font-size: 1.5rem;
  }
  .prix1 h3,
  .prix2 h3,
  .prix3 h3 {
    font-size: 0.4rem;
  }
  .prix1 p,
  .prix2 p,
  .prix3 p {
    font-size: 1rem;
  }
  .prix1 p,
  .prix3 p {
    font-size: 1rem;
    padding-right: 80px;
  }
  .visible-pannel h2 {
    font-size: 18px;
  }
  .toggle-pannel {
    font-size: 0.9rem;
  }
  .text2 h3 {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .entrybg img {
    height: 400px;
  }

  footer {
    font-size: 0.6rem;
  }
  .slideshow-container {
    margin-bottom: 100px;
  }
  .prev,
  .next {
    padding: 12px;
    font-size: 15px;
  }
  .title1 h1 {
    font-size: 1.3rem;
  }
  .text2 h1 {
    font-size: 1.3rem;
  }
  .text3 h1 {
    font-size: 1.3rem;
  }
  .text1 h2,
  .text2 h2,
  .text3 h2 {
    font-size: 0.6rem;
  }
  #icons00,
  #icons001,
  #icons0,
  #icons01,
  #icons02,
  #icons000,
  #icons0001,
  #icons0002 {
    height: 20px;
  }

  #icon3,
  #icon4,
  #icon5,
  #icon6,
  #icon7,
  #icon8,
  #icon9,
  #icoon1,
  #icoon2,
  #icoon3,
  #icoon4,
  #icoon5,
  #icoon6,
  #icoon7,
  #icon003,
  #icon004,
  #icon005,
  #icon006,
  #icon007,
  #icon008,
  #icon009 {
    height: 15px;
  }

  .text1 {
    grid-template-rows: 15% 50% 20% 15%;
  }
  .text2 {
    grid-template-rows: 15% 50% 15% 5% 15%;
  }
  .text3 {
    grid-template-rows: 15% 50% 15% 5% 15%;
  }

  .visible-pannel h2 {
    font-size: 16px;
  }
  .visible-pannel img {
    width: 16px;
  }
  .toggle-pannel {
    font-size: 0.8rem;
  }
  .icons {
    margin-top: auto;
    margin-bottom: auto;
  }
  .etoile1 {
    margin-top: 0px;
  }
  .etoile1 h6 {
    font-size: 0.6rem;
  }
  .etoile h6 {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 900px) {
  .entrybg img {
    height: 350px;
  }
  .textepres p {
    font-size: 0.7rem;
  }
  .image-maison img {
    height: 200px;
  }
  .pres-container {
    height: 0px;
    margin-bottom: 300px;
  }

  .grid1 .rooms h1 {
    font-size: 1.4rem;
  }
  .title1 h1 {
    font-size: 1.2rem;
  }
  #icons00,
  #icons001,
  #icons0,
  #icons01,
  #icons02,
  #icons000,
  #icons0001,
  #icons0002 {
    height: 18px;
  }
  .text1 h2,
  .text2 h2,
  .text3 h2 {
    font-size: 0.55rem;
  }
  .prix1 p,
  .prix2 p,
  .prix3 p {
    font-size: 0.9rem;
  }
  #icon3,
  #icon4,
  #icon5,
  #icon6,
  #icon7,
  #icon8,
  #icon9,
  #icoon1,
  #icoon2,
  #icoon3,
  #icoon4,
  #icoon5,
  #icoon6,
  #icoon7,
  #icon003,
  #icon004,
  #icon005,
  #icon006,
  #icon007,
  #icon008,
  #icon009 {
    height: 13px;
  }
  .text2 h1 {
    font-size: 1.2rem;
  }
  .text3 h1 {
    font-size: 1.2rem;
  }
  .titre {
    font-size: 1.4rem;
  }
  .title10 p {
    font-size: 1.4rem;
  }
  .visible-pannel h2 {
    font-size: 14px;
  }
  .visible-pannel img {
    width: 14px;
  }
  .toggle-pannel {
    font-size: 0.8rem;
  }
  .mySlides img {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  header {
    height: 80vh;
  }
  .entrybg img {
    position: absolute;
    top: 25vh;
  }
  .part1 a {
    top: 57vh;
  }
  .textepres p {
    font-size: 0.6rem;
  }
  .grid2,
  .grid3,
  .grid4 {
    height: 230px;
    margin-top: 200px;
  }
  .grid2 {
    margin-top: 100px;
  }

  .title1 h1 {
    font-size: 1.1rem;
  }
  .text2 h1 {
    font-size: 1.1rem;
  }
  .text3 h1 {
    font-size: 1.1rem;
  }
  #icons00,
  #icons001,
  #icons0,
  #icons01,
  #icons02,
  #icons000,
  #icons0001,
  #icons0002 {
    height: 16px;
  }
  .prix1 {
    padding-right: 50px;
  }
  .text1 {
    grid-template-rows: 15% 65% 20%;
  }
  .text2 {
    grid-template-rows: 15% 65% 15% 5%;
  }
  .text3 {
    grid-template-rows: 15% 65% 15% 5%;
  }
  .icons,
  .icons2,
  .icons3 {
    display: none;
  }
  .after-icons,
  .after-icons2,
  .after-icons3 {
    margin-top: 50px;
    padding-left: 24%;
    padding-right: 24%;
    display: block;
    display: flex;
    justify-content: center;
  }
  .after-icons img,
  .after-icons2 img,
  .after-icons3 img {
    height: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid 0.5px rgba(0, 0, 0, 0.308);
  }
  #icon3After {
    border-left: none;
  }
  .separatest1,
  .separatest2,
  .separateur2 {
    margin-top: 100px;
  }
  .container-faq {
    min-width: 550px;
  }
  .visible-pannel h2 {
    font-size: 13px;
  }
  .visible-pannel img {
    width: 13px;
  }
  .slideshow-container {
    max-width: 550px;
  }
  .mySlides {
    margin-top: 100px;
  }
  footer {
    font-size: 0.6rem;
  }
  footer p {
    display: none;
  }
  footer h3 {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 770px) {
  .presentation1 {
    flex-direction: column;
    row-gap: 50px;
  }
  .image-maison {
    order: 1;
  }
  .textepres {
    order: 2;
  }
  .separateur {
    margin-top: 120px;
  }
  .grid1 .rooms {
    margin-top: 130px;
  }
  .image-maison img {
    height: 230px;
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
  }
  .grid2,
  .grid3,
  .grid4 {
    height: 200px;
  }
  .entrybg img {
    height: 300px;
  }
}

@media screen and (max-width: 700px) {
  .part1 a {
    font-size: 1rem;
  }
  .grid1 .rooms h1 {
    font-size: 1.2rem;
  }
  .image-maison img {
    height: 230px;
    width: 500px;
  }
  .title1 h1,
  .text2 h1,
  .text3 h1 {
    font-size: 1rem;
  }
  .title1 h1 {
    grid-template-columns: 28% 6% 71%;
  }
  .text2 h1 {
    grid-template-columns: 35% 6% 6% 70%;
  }
  .text3 h1 {
    grid-template-columns: 45% 6% 6% 52%;
  }
  .after-icons img,
  .after-icons2 img,
  .after-icons3 img {
    height: 13px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .titre {
    font-size: 1.2rem;
  }
  .title10 p {
    font-size: 1.2rem;
  }
  .mySlides img {
    height: 350px;
  }
}
@media screen and (max-width: 640px) {
  header {
    height: 70vh;
  }
  .entrybg img {
    position: absolute;
    top: 20vh;
  }
  .part1 a {
    top: 50vh;
  }
  .entrybg img {
    height: 250px;
  }
  .image-maison img {
    height: 230px;
    width: 450px;
  }
  .grid2,
  .grid3,
  .grid4 {
    height: 170px;
  }
  .text1 h2,
  .text2 h2,
  .text3 h2 {
    font-size: 0.5rem;
  }
  .title1 h1,
  .text2 h1,
  .text3 h1 {
    font-size: 0.9rem;
  }
  .after-icons img,
  .after-icons2 img,
  .after-icons3 img {
    height: 13px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-faq {
    min-width: 500px;
  }
  .visible-pannel h2 {
    font-size: 12px;
  }
  .visible-pannel img {
    width: 12px;
  }
  .slideshow-container {
    max-width: 500px;
  }
  .prix1 p,
  .prix2 p,
  .prix3 p {
    font-size: 0.8rem;
  }
  .prix1 h3,
  .prix2 h3,
  .prix3 h3 {
    font-size: 0.35rem;
  }
}

@media screen and (max-width: 600px) {
  .image-maison img {
    height: 230px;
    width: 400px;
  }
  .textepres p {
    font-size: 0.55rem;
  }
  .title1 h1 {
    grid-template-columns: 28% 7% 71%;
  }
  .text2 h1 {
    grid-template-columns: 35% 7% 7% 70%;
  }
  .text3 h1 {
    grid-template-columns: 45% 7% 7% 52%;
  }
  .part1 a {
    height: auto;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-faq {
    min-width: 450px;
  }
  .visible-pannel h2 {
    font-size: 11px;
  }
  .toggle-pannel {
    font-size: 0.7rem;
  }
  .grid1 .rooms h1 {
    font-size: 1.1rem;
  }
  .titre {
    font-size: 1.1rem;
  }
  .title10 p {
    font-size: 1.1rem;
  }
  .slideshow-container {
    max-width: 450px;
  }
  .mySlides img {
    height: 300px;
  }
  .etoile1 h6 {
    font-size: 0.5rem;
  }
  .etoile h6 {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 550px) {
  .image-maison img {
    height: 200px;
    width: 350px;
  }
  .textepres p {
    font-size: 0.5rem;
  }
  .grid2,
  .grid3,
  .grid4 {
    height: 150px;
  }
  .title1 h1,
  .text2 h1,
  .text3 h1 {
    font-size: 0.8rem;
  }
  #icons00,
  #icons001,
  #icons0,
  #icons01,
  #icons02,
  #icons000,
  #icons0001,
  #icons0002 {
    height: 14px;
  }
  .title1 h1 {
    grid-template-columns: 34% 7% 71%;
  }
  .text2 h1 {
    grid-template-columns: 40% 7% 7% 70%;
  }
  .text3 h1 {
    grid-template-columns: 50% 7% 7% 52%;
  }
  .etoile1,
  .etoile {
    margin-top: 5px;
  }
  .visible-pannel h2 {
    font-size: 10px;
  }
  .container-faq {
    min-width: 410px;
  }
  .mySlides img {
    height: 250px;
  }
  .slideshow-container {
    max-width: 400px;
  }
}

/*
@media screen and (max-width: 1200px) {
  body {
    visibility: hidden;
    overflow: hidden;
  }
  .mobile-error-message {
    position: absolute;
    display: block;
    visibility: visible;
    top: 40vh;
    left: 50vw;
    transform: translateX(-50%);
  }
  .mobile-error-message h1 {
    font-size: 13px;
    text-align: center;
  }
} */
