@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(223, 208, 208);
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  width: 100%;
  margin-top: 15px;
  height: 135px;
}

#logo1 {
  position: absolute;
  height: 135px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  margin-left: 0;
}

#backarrow {
  margin-left: 10%;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.arrow-back {
  margin-top: 25px;
  width: 100%;
  height: 20px;
}

.arrow-back img {
  margin-left: 150px;
  height: 35px;
}
.title {
  margin-top: 100px;
  margin-bottom: 50px;
}
.title h1 {
  text-align: center;
}
section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.titles {
  border-radius: 10px 10px 0 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 70px;
  width: 90%;
  border-bottom: solid 0.5px;
}

article a {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 25px;
  width: 90%;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
a {
  color: inherit;
}
article a:hover {
  background-color: rgb(215, 215, 215);
}
article:last-of-type {
  border-radius: 0 0 10px 10px;
}
article a:last-child {
  padding-right: 10px;
}
#msg {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

article a p {
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(212, 212, 212);
}

footer a p {
  text-align: center;
  color: black;
  font-size: 1.1rem;
}
